
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Interface</title>
    <script th:src="@{/js/scripts.js(v=${#dates.createNow().getTime()})}"></script>
    <link rel="stylesheet" th:href="@{/css/stylesHTML.css}">
</head>
<body>
<header>
    <a href="/jetinno_api/orders" class="nav-button">Заказы</a>
    <a href="/jetinno_api/faults" class="nav-button">Ошибки</a>
</header>

<main>
    <section id="statusAndOrder">
        <div id="statusSection">
            <h2>Получение статуса запасов</h2>
            <label for="deviceid">Device ID:</label>
            <select id="deviceid"></select>
            <button onclick="fetchSupply()">Получить данные</button>
            <table>
                <thead>
                <tr>
                    <th>Supply Name</th>
                    <th>Surplus</th>
                    <th>Upload Time</th>
                </tr>
                </thead>
                <tbody id="supplyTableBody"></tbody>
            </table>
        </div>

        <div id="orderSection">
            <h2>Создание заказа</h2>
            <label>Выберите напиток:
                <select id="productSelect" onchange="updateOrderFields()">
                    <option value="">-- Выберите напиток --</option>
                </select>
            </label>
            <label>Цена:
                <input type="number" id="priceInput">
            </label>
            <label for="device">Device ID:</label>
            <select id="device"></select>
            <button onclick="sendOrder()">Отправить заказ</button>
        </div>
    </section>
</main>
</body>
</html>
