<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <script th:src="@{/js/scripts.js(v=${#dates.createNow().getTime()})}"></script>
    <link rel="stylesheet" th:href="@{/css/stylesHTML.css}">
</head>
<body>
<header>
    <a href="/jetinno_api" class="nav-button">Главная</a>
    <a href="/jetinno_api/faults" class="nav-button">Ошибки</a>
</header>

<main>
    <h2>Получение заказов</h2>
    <label>Дата начала: <input type="datetime-local" id="startDate"></label>
    <label>Дата конца: <input type="datetime-local" id="endDate"></label>
    <label for="deviceid">Device ID:</label>
    <select id="deviceid"></select>
    <button onclick="fetchOrders()">Получить заказы</button>
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Price</th>
            <th>Pay Type</th>
            <th>Status</th>
            <th>Buy Time</th>
        </tr>
        </thead>
        <tbody id="ordersTableBody"></tbody>
    </table>
</main>
</body>
</html>
